@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* default light theme */
    --primary: #8CDCFF;
    --secondary: #F3FBFF;
    --accent: #FFF5EB;
    --accent-secondary: #FFE4C8; /* same color for card buttons */
    --card: #FFF;
    --text: #453535;
    --highlight: #9DC300;
    --highlight-dark: #88A900;
  }

  [data-theme='light'] {
    --primary: #8CDCFF;
    --secondary: #F3FBFF;
    --accent: #FFF5EB;
    --accent-secondary: #FFE4C8;
    --card: #FFF;
    --text: #453535;
    --highlight: #9DC300;
    --highlight-dark: #88A900;
  }

  [data-theme='dark'] {
    --primary: #0B3749;
    --secondary: #152A38;
    --accent: #145361;
    --accent-secondary: #184659;
    --card: #193243;
    --text: #F2F3F4;
    --highlight: #FB9A36;
    --highlight-dark: #E37C22;
  }

  h1 {
    @apply my-3;
    @apply text-5xl;
    @apply md:text-6xl;
    @apply font-extrabold;
  }

  h2 {
    @apply my-2;
    @apply text-4xl;
    @apply md:text-5xl;
    @apply font-semibold;
  }

  h3 {
    @apply my-2;
    @apply text-2xl;
    @apply md:text-3xl;
    @apply font-medium;
  }

  h4 {
    @apply my-2;
    @apply text-xl;
    @apply md:text-2xl;
  }

  p {
    @apply my-2;
    @apply text-base;
    @apply md:text-lg;
  }

  li {
    @apply text-base;
    @apply md:text-lg;
  }

  button {
    @apply bg-accent-secondary;
  }
}