.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.headerWrapper {
  display: flex;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: column;
}

.title {
  font-weight: 700;
  font-size: 4rem;
  color: #e96953;
}

.subtitle {
  font-weight: 600;
  font-size: 2rem;
  color: #f7873d;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 1rem 0;
}

.subheader {
  margin-bottom: 0.5rem;
  font-weight: 600;
  font-size: 1.7rem;
  color: #e96953;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem 1.5rem;
  gap: 10px;
  border: none;
  border-radius: 0.6rem;
  background: #fd9149;
  font-weight: 600;
  font-size: 1.2rem;
  color: #ffe9cc;
}

.button:hover {
  background: #f77b55;
  cursor: pointer;
  box-shadow: 0 4px 10px #e969534f;
}

@media (max-width: 768px) {
  .button {
    width: 100%;
  }
}